h1 {
  font-family: 'Bungee Inline', cursive;
  font-size: 5em;
  color: #cad8de;
  text-align: center;
}

body{
  background-color: #2d3142;
  color: #cad8de;
}

*{
  font-family:'Nixie One', cursive;
  box-sizing: border-box;
}

form{
  background-color: #b5d6b2;
  /*text-align: center;*/
  margin: 0 100px;
  padding: 2vw;
  font-size: 1.5rem;
  border-radius: 8px;
    text-align: center;
}

input{
  margin: 5vh auto;
  padding: 5px;
  font-size: 1.5rem;
}

label{
  display: block;
  text-align: center;
  color: #2d3142;
}


.submit{
font-size: 1.5rem;
background-color: #2d3142;
color: #cad8de;
padding: 1em;
border-radius: 10px;
}

.tinfoild__search {
  width: 60%;
  display: block;
}

#js-email-error, #js-password-error, #js-bad-user, #js-username-error{
  color: black;
}
